<div class="topcoat-navigation-bar">
    <div class="topcoat-navigation-bar__item center full">
        <h1 class="topcoat-navigation-bar__title">Employee Directory</h1>
    </div>
</div>


<div class="topcoat-list__container center " style="top:138px;">
	<div> 
		<form name="login" action= "#" >
			<br><input type="text" class="topcoat-text-input--large" ng-model="formData.username"	placeholder="{{formData.username}}"> <br> <br>
			<input type="password" class="topcoat-text-input--large" ng-model="formData.password" placeholder="{{formData.password}}"> <br> <br>
			<button class="topcoat-button--large--cta loginBtn"  ng-click="submitForm()" >LOGIN</button>
		</form>
	</div>

</div>
                